.appbox {
  background-color: #fff;
  box-shadow: 2px 2px 2px #ccc;
  border: 1px solid #ccc;
  padding: 20px;

  .appbox-title{
    margin: 0 0 20px 0;
    font-weight: bold;
    font-size: 22px;
  }

  .appbox-body{

  }
}